:root:not([data-theme]) {
    /* --pico-color: var(--pico-color-800); */
    --pico-background-color: var(--pico-color-sand-850);
    --pico-primary: var(--pico-color-sand-400);
    --pico-primary-background: var(--pico-color-sand-500);
    --pico-primary-underline: var(--pico-color-sand-500);
    --pico-primary-hover: var(--pico-color-sand-250);
    --pico-primary-hover-background: var(--pico-color-sand-600);
    --pico-primary-focus: var(--pico-color-sand-400);
    --pico-primary-inverse: var(--pico-color-sand-50);

    --pico-card-background-color: var(--pico-color-sand-800);
    --pico-form-element-background-color: var(--pico-color-sand-850);
    /* --pico-form-element-color:var(--pico-color-sand-400);
    --pico-form-element-selected-background-color:var(--pico-color-sand-400); */
    --pico-form-element-active-background-color: var(--pico-color-sand-900);


    /* --pico-primary-border: var(--pico-primary-background); */
    /* --pico-primary-hover-border: var(--pico-primary-hover-background); */
    /* --pico-primary-hover-underline: var(--pico-primary-hover); */

    --pico-font-family: 'PingFang TC', 'PingFang SC', 'Microsoft JhengHei', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Hiragino Sans GB', system-ui, -apple-system, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
}

body>header {
    background-color: var(--pico-color-sand-700);
}

.author-list {
    max-height: 250px;
}

.layout-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: var(--spacing);
    overflow: hidden;
}

.main-content {
    padding: 1.5rem;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.search-container {
  /* 1. Take up all the "leftover" space to the right of the title */
  flex: 1; 
  
  /* 2. Center the search bar within that new large space */
  display: flex;
  justify-content: center;
  
  /* 3. Remove Pico's default list padding for this specific group */
  padding-inline: 0;
}

.search-container li {
  /* Give the search bar a reasonable width so it doesn't stretch infinitely */
  width: 100%;
  max-width: 500px;
}

.pagination {
    overflow-x: scroll;
}

.pagination>button {
    white-space: nowrap;
}

.goto>form>fieldset>button {
    white-space: nowrap;
}

.goto>form>fieldset>input {
    text-align: center;
}