<ul>
    {% for dynasty, authors in dynasties.items() %}
    <li>
    <details name="dynasty">
        <summary class="pico-color-sand-700">
        <strong>{{ dynasty }}</strong>
        </summary>
        
        <ul class="author-list overflow-auto">
        {% for author in authors %}
            <li class="author-item"
                hx-target=".main-content"
                hx-get="/poems?dynasty={{ dynasty | urlencode }}&author={{ author.name | urlencode }}"
                hx-push-url="true">
                <a href="#" 
                    hx-target=".main-content" 
                    hx-indicator="#loading-spinner"
                    class="secondary">
                {{ author.name }} 
                <small style="opacity: 0.6; font-size: 0.75rem;">
                    {{ author.count }}
                </small>
                </a>
            </li>
        {% endfor %}
        </ul>
    </details>
    </li>
    {% endfor %}
</ul>
