{% macro pagination(current_page, total_pages, base_url) %}
{% if total_pages > 1 %}

<div class="pagination-wrapper" 
     hx-target=".main-content" 
     hx-swap="innerHTML" 
     hx-replace-url="true"> <!-- Use hx-replace-url to update the URL without adding history entries -->
     
    <div class="pagination" role="group" >
        <button hx-get="{{ base_url }}" 
                hx-vals='{"page": 1}' 
                {% if current_page == 1 %}disabled{% endif %}>
            &laquo; 第一頁
        </button>
        
        <button hx-get="{{ base_url }}" 
                hx-vals='{"page": {{ current_page - 1 }}}' 
                {% if current_page == 1 %}disabled{% endif %}>
            &larr; 上一頁
        </button>
        
        {% set page_start = [1, current_page - 2] | max %}
        {% set page_end = [total_pages, current_page + 2] | min %}
        
        {% if page_start > 1 %}
            <button disabled class="ellipsis">...</button>
        {% endif %}
        
        {% for page_num in range(page_start, page_end + 1) %}
            <button hx-get="{{ base_url }}" 
                    hx-vals='{"page": {{ page_num }}}' 
                    {% if current_page == page_num %} class="contrast"  disabled {% endif %}>
                {{ page_num }}
            </button>
        {% endfor %}
        
        {% if page_end < total_pages %}
            <button disabled class="ellipsis">...</button>
        {% endif %}
        
        <button hx-get="{{ base_url }}" 
                hx-vals='{"page": {{ current_page + 1 }}}' 
                {% if current_page == total_pages %}disabled{% endif %}>
            下一頁 &rarr;
        </button>
        
        <button hx-get="{{ base_url }}" 
                hx-vals='{"page": {{ total_pages }}}' 
                {% if current_page == total_pages %}disabled{% endif %}>
            最後一頁 &raquo;
        </button>
    </div>

    <div class="goto">
        <!-- HTMX will smartly combine base_url query params with form inputs -->
        <form hx-get="{{ base_url }}">
            <fieldset role="group">
                <button disabled class="contrast">頁:</button>
                <input type="number" 
                       name="page" 
                       min="1" 
                       max="{{ total_pages }}" 
                       value="{{ current_page }}" />
                <button type="submit">前往</button>
            </fieldset>
        </form>
    </div>
</div>
{% endif %}
{% endmacro %}